# **Dependencies**

In [2]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt

# **Load Data**

In [3]:
master_df=pd.read_csv(r"C:\Users\benij\bigdata_projects\fam_pay_assignment\data\raw\output_file.csv",parse_dates=['date'])

# **Data Profiling**

In [4]:
master_df.head()

,date,volume,open,high,low,close,adjclose,ticker
0,2018-06-15,3696200,59.630001,60.080002,59.369999,60.009998,60.009998,TMUS
1,2018-07-26,23518700,43.580002,43.830002,43.220001,43.529999,41.350727,CSCO
2,2018-04-13,2828300,108.849998,109.459999,108.519997,109.260002,101.975182,PEP
3,2018-03-14,21141100,45.340000,45.759998,45.090000,45.279999,42.340096,CSCO
4,2019-05-21,2506000,277.089996,279.779999,274.649994,275.329987,275.329987,AVGO

In [5]:
master_df.iloc[:,1]

0        3696200
1       23518700
2        2828300
3       21141100
4        2506000
          ...
5025     3546400
5026    26093600
5027     6795200
5028     7074400
5029     2491500
Name: volume, Length: 5030, dtype: int64

In [6]:
master_df.isnull().sum()

date        0
volume      0
open        0
high        0
low         0
close       0
adjclose    0
ticker      0
dtype: int64

In [7]:
master_df.describe(include=['float64'])
for i in master_df["ticker"].unique():
    print(f"\nsummary for {i}\n")
    print(master_df[master_df["ticker"]==i].describe(include=['float64']))

summary for TMUS

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean    69.362306   70.001690   68.661252   69.341670   69.341670
std      7.282457    7.261566    7.231651    7.264840    7.264840
min     55.869999   56.259998   55.090000   55.580002   55.580002
25%     63.660000   64.290001   62.930000   63.645000   63.645000
50%     68.779999   69.410004   68.080002   68.769997   68.769997
75%     76.299999   77.129997   75.505001   76.160000   76.160000
max     84.629997   85.220001   82.000000   84.250000   84.250000

summary for CSCO

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean    47.415825   47.848827   46.961769   47.403221   45.528112
std      4.737342    4.724174    4.748458    4.736166    5.024149
min     38.330002   38.950001   37.349998   38.770000   36.067902
25%     43.869999   44.260000   43.439999   43.840000   41.456451
50%     46.400002   46.959999   46.000000   46.439999   44.728905
75%     49.725000   50.045000   49.305000   49.640001   48.351564
max     58.130001   58.259998   57.869999   58.049999   56.656013

summary for PEP

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean   119.360219  120.174115  118.460855  119.335726  114.186358
std     11.512293   11.472953   11.492500   11.511127   12.844734
min     96.430000   97.239998   95.940002   96.160004   89.748627
25%    110.320000  111.174999  109.329998  110.325001  104.571262
50%    116.209999  116.930000  115.430000  116.099998  110.417755
75%    131.269997  132.255005  130.320000  131.175003  127.277897
max    139.289993  140.449997  137.970001  140.279999  137.304214

summary for AVGO

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean   263.502624  266.619960  260.357435  263.554234  263.554234
std     30.408633   30.182943   30.496598   30.415053   30.415053
min    201.600006  206.380005  197.460007  202.460007  202.460007
25%    240.175003  242.629997  237.004997  239.739998  239.739998
50%    261.559998  264.760010  258.649994  262.829987  262.829987
75%    285.869995  288.839996  282.355011  285.425003  285.425003
max    329.209991  331.200012  323.709991  327.799988  327.799988

summary for AMD

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean    23.574930   24.080875   23.070000   23.590437   23.590437
std      8.786941    8.912666    8.663211    8.798058    8.798058
min      9.080000    9.770000    9.040000    9.530000    9.530000
25%     16.240000   16.590000   15.800000   16.270000   16.270000
50%     23.660000   24.230000   23.219999   23.680000   23.680000
75%     30.365001   30.870000   29.735001   30.260000   30.260000
max     46.990002   47.310001   45.980000   46.630001   46.630001

summary for AAPL

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean   198.508906  200.431630  196.746541  198.673777  195.042271
std     29.805244   29.908905   29.795573   30.000779   30.687277
min    143.979996  145.720001  142.000000  142.190002  139.376251
25%    175.459999  177.330002  174.355003  175.514999  171.259331
50%    191.899994  194.199997  191.050003  192.580002  188.311905
75%    216.159996  218.959999  213.500000  215.475006  211.214149
max    291.119995  293.970001  289.519989  293.649994  292.163818

summary for MSFT

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean   115.759742  116.701451  114.640775  115.737177  113.557543
std     18.913058   18.838880   18.948452   18.920582   19.578298
min     86.059998   86.309998   83.830002   85.010002   81.893471
25%    101.125000  101.904999   99.649998  101.130001   98.431564
50%    110.099998  111.239998  108.889999  110.190002  107.681450
75%    134.970001  136.099998  133.575005  135.220001  133.576286
max    159.449997  159.550003  158.220001  158.960007  158.086731

summary for NFLX

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean   324.137774  329.116740  318.653498  324.090874  324.090874
std     42.914203   42.642931   42.626163   42.538718   42.538718
min    196.100006  201.649994  195.419998  201.070007  201.070007
25%    292.345001  296.860001  287.480011  291.565002  291.565002
50%    328.000000  331.769989  321.209991  326.459991  326.459991
75%    359.000000  363.869995  353.729996  359.190002  359.190002
max    421.380005  423.209991  413.079987  418.970001  418.970001

summary for TSLA

             open        high         low       close    adjclose
count  503.000000  503.000000  503.000000  503.000000  503.000000
mean   295.061909  300.625944  289.540736  295.376541  295.376541
std     47.646638   48.647140   47.008322   47.939031   47.939031
min    181.100006  186.679993  176.990005  178.970001  178.970001
25%    257.615005  262.125000  252.175003  257.835007  257.835007
50%    300.500000  305.980011  293.679993  300.079987  300.079987
75%    333.455002  339.854996  327.500000  334.020004  334.020004
max    435.000000  435.309998  426.350006  430.940002  430.940002

summary for AMZN

              open         high          low        close     adjclose
count   503.000000   503.000000   503.000000   503.000000   503.000000
mean   1716.553260  1732.853877  1696.631273  1715.604274  1715.604274
std     174.135515   171.448828   175.899183   173.091233   173.091233
min    1172.000000  1190.000000  1170.510010  1189.010010  1189.010010
25%    1604.005005  1623.735046  1590.880005  1605.509949  1605.509949
50%    1749.599976  1763.500000  1731.500000  1750.079956  1750.079956
75%    1836.575012  1847.309998  1818.000000  1836.135010  1836.135010
max    2038.109985  2050.500000  2013.000000  2039.510010  2039.510010

In [8]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5030 entries, 0 to 5029
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      5030 non-null   datetime64[ns]
 1   volume    5030 non-null   int64
 2   open      5030 non-null   float64
 3   high      5030 non-null   float64
 4   low       5030 non-null   float64
 5   close     5030 non-null   float64
 6   adjclose  5030 non-null   float64
 7   ticker    5030 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [9]:
print(master_df['date'].min(),master_df['date'].max())

2018-01-02 00:00:00 2019-12-31 00:00:00

In [10]:
master_df[master_df['ticker']=='AAPL'][['date','ticker']].sort_values(by='date')

           date ticker
1364 2018-01-02   AAPL
3380 2018-01-03   AAPL
4875 2018-01-04   AAPL
2124 2018-01-05   AAPL
4171 2018-01-08   AAPL
...         ...    ...
534  2019-12-24   AAPL
1093 2019-12-26   AAPL
1969 2019-12-27   AAPL
2554 2019-12-30   AAPL
4521 2019-12-31   AAPL

[503 rows x 2 columns]

In [11]:
master_df[master_df['ticker']=='AAPL'][['date','ticker']].sort_values(by='date').iloc[0,0]

Timestamp('2018-01-02 00:00:00')

In [12]:
master_df.columns

Index(['date', 'volume', 'open', 'high', 'low', 'close', 'adjclose', 'ticker'], dtype='object')

In [13]:
master_df['ticker'].unique()

array(['TMUS', 'CSCO', 'PEP', 'AVGO', 'AMD', 'AAPL', 'MSFT', 'NFLX',
       'TSLA', 'AMZN'], dtype=object)

In [14]:
for i in master_df["ticker"].unique():
    print(master_df[master_df["ticker"]==i].head(2))

         date   volume       open       high        low      close   adjclose  \
0  2018-06-15  3696200  59.630001  60.080002  59.369999  60.009998  60.009998
18 2018-01-16  4669900  64.139999  64.139999  62.560001  62.970001  62.970001

   ticker
0    TMUS
18   TMUS
        date    volume       open       high        low      close   adjclose  \
1 2018-07-26  23518700  43.580002  43.830002  43.220001  43.529999  41.350727
3 2018-03-14  21141100  45.340000  45.759998  45.090000  45.279999  42.340096

  ticker
1   CSCO
3   CSCO
        date   volume        open        high         low       close  \
2 2018-04-13  2828300  108.849998  109.459999  108.519997  109.260002
7 2018-11-01  5736700  112.000000  113.139999  110.980003  111.510002

     adjclose ticker
2  101.975182    PEP
7  105.901146    PEP
        date   volume        open        high         low       close  \
4 2019-05-21  2506000  277.089996  279.779999  274.649994  275.329987
8 2018-03-29  4687400  238.089996  240.839996  234.759995  235.649994

     adjclose ticker
4  275.329987   AVGO
8  235.649994   AVGO
        date    volume   open   high    low      close   adjclose ticker
5 2019-12-16  58824900  41.73  42.98  41.73  42.349998  42.349998    AMD
6 2019-08-05  74333200  28.26  28.49  27.65  27.990000  27.990000    AMD
         date    volume        open        high    low       close  \
9  2019-07-15  16947400  204.089996  205.869995  204.0  205.210007
12 2019-01-03  91312200  143.979996  145.720001  142.0  142.190002

      adjclose ticker
9   202.789810   AAPL
12  139.376251   AAPL
         date    volume        open        high         low       close  \
11 2018-12-03  34732800  113.000000  113.419998  110.730003  112.089996
26 2019-11-22  15901800  150.070007  150.300003  148.820007  149.589996

      adjclose ticker
11  109.849960   MSFT
26  148.768188   MSFT
         date    volume        open        high         low       close  \
14 2019-04-23  10089800  375.450012  384.799988  374.709991  381.890015
16 2019-02-25   7569300  367.010010  371.489990  363.790009  363.910004

      adjclose ticker
14  381.890015   NFLX
16  363.910004   NFLX
         date    volume       open        high         low       close  \
20 2018-11-21   4686800  352.00000  353.100006  337.399994  338.190002
24 2018-09-10  14283500  273.26001  286.029999  271.000000  285.500000

      adjclose ticker
20  338.190002   TSLA
24  285.500000   TSLA
         date   volume        open         high          low       close  \
22 2019-07-23  2703500  1995.98999  1997.790039  1973.130005  1994.48999
28 2018-07-26  9924400  1839.00000  1844.680054  1804.500000  1808.00000

      adjclose ticker
22  1994.48999   AMZN
28  1808.00000   AMZN

In [15]:
master_df.columns

Index(['date', 'volume', 'open', 'high', 'low', 'close', 'adjclose', 'ticker'], dtype='object')

# **Data Visualization**

In [16]:
for i in master_df['ticker'].unique():
    df=master_df[master_df['ticker']==i]
    fig = make_subplots(
        rows=2, cols=1,
        shared_xaxes=True,
        row_heights=[0.7, 0.3],
        vertical_spacing=0.05
    )

    fig.add_trace(
        go.Candlestick(
            x=df["date"],
            open=df["open"],
            high=df["high"],
            low=df["low"],
            close=df["close"],
            name="price"
        ),
        row=1, col=1
    )

    fig.add_trace(
        go.Bar(
            x=df["date"],
            y=df["volume"],
            name="volume"
        ),
        row=2, col=1
    )

    fig.update_layout(xaxis_rangeslider_visible=False)


    fig.write_image(f"charts/png_files/{i.lower()}_ohlcv_candlestick_daily(2018-2019).png")
    fig.write_html(f"charts/html_files/{i.lower()}_ohlcv_candlestick_daily(2018-2019).html")

In [17]:
df1=pd.read_csv(r"C:\Users\benij\bigdata_projects\fam_pay_assignment\data\output\result_AAPL.csv")

In [18]:
df1

,date,open,high,low,close,volume,adjclose,sma_10,sma_20,ema_10,ema_20,ticker
0,2018-01-31,170.160004,180.100006,164.699997,167.429993,659679400,161.689316,NaN,NaN,NaN,NaN,AAPL
1,2018-02-28,167.169998,180.619995,150.240005,178.119995,927894300,172.714111,NaN,NaN,NaN,NaN,AAPL
2,2018-03-31,178.539993,183.500000,164.940002,167.779999,713727700,162.687927,NaN,NaN,NaN,NaN,AAPL
3,2018-04-30,166.639999,178.940002,160.630005,165.259995,666154300,160.244400,NaN,NaN,NaN,NaN,AAPL
4,2018-05-31,166.410004,190.369995,165.270004,186.869995,620976300,181.897247,NaN,NaN,NaN,NaN,AAPL
5,2018-06-30,187.990005,194.199997,180.729996,185.110001,527624500,180.184082,NaN,NaN,NaN,NaN,AAPL
6,2018-07-31,183.820007,195.960007,183.419998,190.289993,393691400,185.226242,NaN,NaN,NaN,NaN,AAPL
7,2018-08-31,199.130005,228.869995,197.309998,227.630005,700318900,222.349686,NaN,NaN,NaN,NaN,AAPL
8,2018-09-30,228.410004,229.669998,215.300003,225.740005,678972000,220.503540,NaN,NaN,NaN,NaN,AAPL
9,2018-10-31,227.949997,233.470001,206.089996,218.860001,789748500,213.783142,191.308998,NaN,196.318271,NaN,AAPL
10,2018-11-30,219.050003,222.360001,170.259995,178.580002,961326400,175.046158,192.423999,NaN,193.093131,NaN,AAPL
11,2018-12-31,184.460007,184.940002,146.589996,157.740005,898922500,154.618546,190.386000,NaN,186.665290,NaN,AAPL
12,2019-01-31,154.889999,169.000000,142.000000,166.440002,828087400,163.146362,190.252000,NaN,182.987965,NaN,AAPL
13,2019-02-28,166.960007,175.869995,165.929993,173.149994,472540600,170.451508,191.041000,NaN,181.199243,NaN,AAPL
14,2019-03-31,174.279999,197.690002,169.500000,189.949997,650981400,186.989685,191.349001,NaN,182.790289,NaN,AAPL
15,2019-04-30,191.639999,208.479996,188.380005,200.669998,506117700,197.542618,192.905000,NaN,186.041145,NaN,AAPL
16,2019-05-31,209.880005,215.309998,174.990005,175.070007,739456600,173.005280,191.383002,NaN,184.046393,NaN,AAPL
17,2019-06-30,175.600006,201.570007,170.270004,197.919998,515187300,195.585770,188.412001,NaN,186.568867,NaN,AAPL
18,2019-07-31,203.169998,221.369995,198.410004,213.039993,473957000,210.527466,187.142000,NaN,191.381799,NaN,AAPL
19,2019-08-31,213.899994,218.029999,192.580002,208.740005,681074600,207.061920,186.130000,188.719499,194.537836,190.626214,AAPL
20,2019-09-30,206.429993,226.419998,204.220001,223.970001,542567100,222.169479,190.669000,191.546500,199.889139,193.801813,AAPL
21,2019-10-31,225.070007,249.750000,215.130005,248.759995,608302700,246.760193,199.770999,195.078500,208.774749,199.035925,AAPL
22,2019-11-30,249.539993,268.000000,249.160004,267.250000,448331500,265.897461,209.851999,200.052000,219.406613,205.532504,AAPL
23,2019-12-31,267.269989,293.970001,256.290009,293.649994,597198700,292.163818,221.901999,206.471500,232.905409,213.924646,AAPL

In [22]:
resampling_logic=master_df[master_df['ticker']=="AAPL"].set_index('date').resample('ME').agg({
        "open": "first",
        "high": "max",
        "low": "min",
        "close": "last",
        "volume": "sum",
        "adjclose": "last"
    })

In [23]:
resampling_logic

,open,high,low,close,volume,adjclose
date,,,,,,
2018-01-31,170.160004,180.100006,164.699997,167.429993,659679400,161.689316
2018-02-28,167.169998,180.619995,150.240005,178.119995,927894300,172.714111
2018-03-31,178.539993,183.500000,164.940002,167.779999,713727700,162.687927
2018-04-30,166.639999,178.940002,160.630005,165.259995,666154300,160.244400
2018-05-31,166.410004,190.369995,165.270004,186.869995,620976300,181.897247
2018-06-30,187.990005,194.199997,180.729996,185.110001,527624500,180.184082
2018-07-31,183.820007,195.960007,183.419998,190.289993,393691400,185.226242
2018-08-31,199.130005,228.869995,197.309998,227.630005,700318900,222.349686
2018-09-30,228.410004,229.669998,215.300003,225.740005,678972000,220.503540
2018-10-31,227.949997,233.470001,206.089996,218.860001,789748500,213.783142
2018-11-30,219.050003,222.360001,170.259995,178.580002,961326400,175.046158
2018-12-31,184.460007,184.940002,146.589996,157.740005,898922500,154.618546
2019-01-31,154.889999,169.000000,142.000000,166.440002,828087400,163.146362
2019-02-28,166.960007,175.869995,165.929993,173.149994,472540600,170.451508
2019-03-31,174.279999,197.690002,169.500000,189.949997,650981400,186.989685
2019-04-30,191.639999,208.479996,188.380005,200.669998,506117700,197.542618
2019-05-31,209.880005,215.309998,174.990005,175.070007,739456600,173.005280
2019-06-30,175.600006,201.570007,170.270004,197.919998,515187300,195.585770
2019-07-31,203.169998,221.369995,198.410004,213.039993,473957000,210.527466
2019-08-31,213.899994,218.029999,192.580002,208.740005,681074600,207.061920
2019-09-30,206.429993,226.419998,204.220001,223.970001,542567100,222.169479
2019-10-31,225.070007,249.750000,215.130005,248.759995,608302700,246.760193
2019-11-30,249.539993,268.000000,249.160004,267.250000,448331500,265.897461
2019-12-31,267.269989,293.970001,256.290009,293.649994,597198700,292.163818